# Environment & secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/
env/

# Pyrogram session files
*.session
*.session-journal

# Downloads
downloads/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
